body{
    height:100vh;
    height:100vh;
    background: linear-gradient(to bottom left, #969696, dimgrey) !important;
    font-family: "Oswald" !important;
}
.header{
    height:50px;
    width:100%;
    background-color: #393939;
    padding:5px;
    padding-left:20px;
}
.acmelogo{
    height:100%;
    background-image: url("images/acmelogo.png");
    background-size:contain;
    background-repeat: no-repeat;
}
.content{
    width:1140px;
    height:calc(100% - 50px);
    margin:0 auto;
    padding-top:5%;

}
.acmebutton{
    width:200px;
    height:50px;
    background-color: #4fc659;
    float:right;
    display:inline-block;
    margin-top:10px;
    margin-left:10px;

    text-decoration: none !important;
    font-size:24px;


    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    font-family: "Oswald";

    color: rgb(255, 255, 255) !important;
    letter-spacing: -0.02em;
    border:0px;
}


.profile{
    height:100%;
    display: inline-block;
}
.profile div{
    display:inline-block;
    float:right;
    margin-right:50px;
    height:100%;
    line-height: 50px;
    font-size: 30px;
    color:#4fc659;
    vertical-align:middle;
}

.homepagebutton{
    height:200px;
    width:200px;
    margin:40px;

    display: inline-block;

}
.buttonimage{
    height:60%;
    width:100%;
    color:white;

    text-align: center;
    font-size:120px !important;

}

.buttontext{
    color:white;
    text-align: center;
    font-size:24px;
}


.buttonwrapper{
    height:80%;
    width:100%;

    padding:1px;
}



/*-------------------Create User Page----------------*/
.createuserwrapper{
    height:543px;
    padding:40px 0 0 40px;
    border-top: 15px solid #4fc659;
    border-left: 15px solid #62f66f;


}
.createaccounttoptext{
    height:60px;
    font-size: 3em;
    color: white;
    margin-bottom:4px;
}

.createusertextwrapper{
    width:22%;
    float:left;
    display: inline-block;
    border-right:2px solid white;
}
.createuserinputwrapper{
    width:70%;
    float:left;
    margin-left:30px;
    display:inline-block;
}
.createusertext{
    line-height:50px;
    text-align:left;
    margin-right:30px;
    display: block;
    height:50px;
    margin:15px;
    font-size:1.6em;
    color:white;
}
.createuserinput{
    height:50px;
    width:300px;
    display:block;
    border:0px;
    margin:15px;
    padding:10px 15px;
    font-size:1.5em;
    color:#606060;
}
#createuserbutton {
    width: 300px;
    height: 75px;
    font-size:2em;
}

/*----------------Display users Table---------------*/


.displayuserstable{
    width:100%;
}
.displayuserstable td, .displayuserstable th{
    border:3px solid white;
    color:white;
}
.displayusersheader{
    color:white;
}













